.item__detail {
    margin: 40px auto;
    width: 80%;
    display: flex;
    background-color: transparent;
    text-align: center;
    border: 2px solid rgb(250, 242, 128);
}

.photo_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

.photo_detail img {
    width: 150px;
    border: 2px solid white;
    margin: 10px 10px;
}

.description_detail {
    color: rgb(61, 60, 60);
    border-left: 2px solid white;
}

.title_detail {
    margin-top: 10px;
    padding: 2px 10px;
    color: black;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}



.cat_detail {
    margin: 15px 0px;
    margin-left: 20px;
}

.cat_detail a {
    text-decoration: none;
    color: inherit;
}



.cat_detail span {
    margin: 0px 5px;
    padding: 1px 5px;
    background-color: rgba(253, 230, 125, 0.7);
    border-radius: 8px;
    border: 1px solid rgba(2, 2, 2, 0.6);
}
   

.counter_detail {
    width: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
}